openapi: 3.0.3
info:
  title: OpenAI API (Core Inference)
  description: Core inference APIs extracted from OpenAI OpenAPI spec
  version: 2.3.0
servers:
- url: https://api.openai.com/v1
paths:
  /models:
    get:
      operationId: listModels
      tags:
      - Models
      summary: Lists the currently available models, and provides basic information
        about each one such as the owner and availability.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListModelsResponse'
      x-oaiMeta:
        name: List models
        group: models
        examples:
          request:
            curl: "curl https://api.openai.com/v1/models \\\n  -H \"Authorization:\
              \ Bearer $OPENAI_API_KEY\"\n"
            python: "import os\nfrom openai import OpenAI\n\nclient = OpenAI(\n  \
              \  api_key=os.environ.get(\"OPENAI_API_KEY\"),  # This is the default\
              \ and can be omitted\n)\npage = client.models.list()\npage = page.data[0]\n\
              print(page.id)"
            javascript: "import OpenAI from \"openai\";\n\nconst openai = new OpenAI();\n\
              \nasync function main() {\n  const list = await openai.models.list();\n\
              \n  for await (const model of list) {\n    console.log(model);\n  }\n\
              }\nmain();"
            csharp: "using System;\n\nusing OpenAI.Models;\n\nOpenAIModelClient client\
              \ = new(\n    apiKey: Environment.GetEnvironmentVariable(\"OPENAI_API_KEY\"\
              )\n);\n\nforeach (var model in client.GetModels().Value)\n{\n    Console.WriteLine(model.Id);\n\
              }\n"
            node.js: "import OpenAI from 'openai';\n\nconst client = new OpenAI({\n\
              \  apiKey: process.env['OPENAI_API_KEY'], // This is the default and\
              \ can be omitted\n});\n\n// Automatically fetches more pages as needed.\n\
              for await (const model of client.models.list()) {\n  console.log(model.id);\n\
              }"
            go: "package main\n\nimport (\n\t\"context\"\n\t\"fmt\"\n\n\t\"github.com/openai/openai-go\"\
              \n\t\"github.com/openai/openai-go/option\"\n)\n\nfunc main() {\n\tclient\
              \ := openai.NewClient(\n\t\toption.WithAPIKey(\"My API Key\"),\n\t)\n\
              \tpage, err := client.Models.List(context.TODO())\n\tif err != nil {\n\
              \t\tpanic(err.Error())\n\t}\n\tfmt.Printf(\"%+v\\n\", page)\n}\n"
            java: "package com.openai.example;\n\nimport com.openai.client.OpenAIClient;\n\
              import com.openai.client.okhttp.OpenAIOkHttpClient;\nimport com.openai.models.models.ModelListPage;\n\
              import com.openai.models.models.ModelListParams;\n\npublic final class\
              \ Main {\n    private Main() {}\n\n    public static void main(String[]\
              \ args) {\n        OpenAIClient client = OpenAIOkHttpClient.fromEnv();\n\
              \n        ModelListPage page = client.models().list();\n    }\n}"
            ruby: 'require "openai"


              openai = OpenAI::Client.new(api_key: "My API Key")


              page = openai.models.list


              puts(page)'
          response: "{\n  \"object\": \"list\",\n  \"data\": [\n    {\n      \"id\"\
            : \"model-id-0\",\n      \"object\": \"model\",\n      \"created\": 1686935002,\n\
            \      \"owned_by\": \"organization-owner\"\n    },\n    {\n      \"id\"\
            : \"model-id-1\",\n      \"object\": \"model\",\n      \"created\": 1686935002,\n\
            \      \"owned_by\": \"organization-owner\",\n    },\n    {\n      \"\
            id\": \"model-id-2\",\n      \"object\": \"model\",\n      \"created\"\
            : 1686935002,\n      \"owned_by\": \"openai\"\n    },\n  ]\n}\n"
  /models/{model}:
    get:
      operationId: retrieveModel
      tags:
      - Models
      summary: Retrieves a model instance, providing basic information about the model
        such as the owner and permissioning.
      parameters:
      - in: path
        name: model
        required: true
        schema:
          type: string
          example: gpt-4o-mini
        description: The ID of the model to use for this request
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model'
      x-oaiMeta:
        name: Retrieve model
        group: models
        examples:
          request:
            curl: "curl https://api.openai.com/v1/models/VAR_chat_model_id \\\n  -H\
              \ \"Authorization: Bearer $OPENAI_API_KEY\"\n"
            python: "import os\nfrom openai import OpenAI\n\nclient = OpenAI(\n  \
              \  api_key=os.environ.get(\"OPENAI_API_KEY\"),  # This is the default\
              \ and can be omitted\n)\nmodel = client.models.retrieve(\n    \"gpt-4o-mini\"\
              ,\n)\nprint(model.id)"
            javascript: "import OpenAI from \"openai\";\n\nconst openai = new OpenAI();\n\
              \nasync function main() {\n  const model = await openai.models.retrieve(\"\
              VAR_chat_model_id\");\n\n  console.log(model);\n}\n\nmain();"
            csharp: "using System;\nusing System.ClientModel;\n\nusing OpenAI.Models;\n\
              \n  OpenAIModelClient client = new(\n    apiKey: Environment.GetEnvironmentVariable(\"\
              OPENAI_API_KEY\")\n);\n\nClientResult<OpenAIModel> model = client.GetModel(\"\
              babbage-002\");\nConsole.WriteLine(model.Value.Id);\n"
            node.js: "import OpenAI from 'openai';\n\nconst client = new OpenAI({\n\
              \  apiKey: process.env['OPENAI_API_KEY'], // This is the default and\
              \ can be omitted\n});\n\nconst model = await client.models.retrieve('gpt-4o-mini');\n\
              \nconsole.log(model.id);"
            go: "package main\n\nimport (\n\t\"context\"\n\t\"fmt\"\n\n\t\"github.com/openai/openai-go\"\
              \n\t\"github.com/openai/openai-go/option\"\n)\n\nfunc main() {\n\tclient\
              \ := openai.NewClient(\n\t\toption.WithAPIKey(\"My API Key\"),\n\t)\n\
              \tmodel, err := client.Models.Get(context.TODO(), \"gpt-4o-mini\")\n\
              \tif err != nil {\n\t\tpanic(err.Error())\n\t}\n\tfmt.Printf(\"%+v\\\
              n\", model.ID)\n}\n"
            java: "package com.openai.example;\n\nimport com.openai.client.OpenAIClient;\n\
              import com.openai.client.okhttp.OpenAIOkHttpClient;\nimport com.openai.models.models.Model;\n\
              import com.openai.models.models.ModelRetrieveParams;\n\npublic final\
              \ class Main {\n    private Main() {}\n\n    public static void main(String[]\
              \ args) {\n        OpenAIClient client = OpenAIOkHttpClient.fromEnv();\n\
              \n        Model model = client.models().retrieve(\"gpt-4o-mini\");\n\
              \    }\n}"
            ruby: 'require "openai"


              openai = OpenAI::Client.new(api_key: "My API Key")


              model = openai.models.retrieve("gpt-4o-mini")


              puts(model)'
          response: "{\n  \"id\": \"VAR_chat_model_id\",\n  \"object\": \"model\"\
            ,\n  \"created\": 1686935002,\n  \"owned_by\": \"openai\"\n}\n"
    delete:
      operationId: deleteModel
      tags:
      - Models
      summary: Delete a fine-tuned model. You must have the Owner role in your organization
        to delete a model.
      parameters:
      - in: path
        name: model
        required: true
        schema:
          type: string
          example: ft:gpt-4o-mini:acemeco:suffix:abc123
        description: The model to delete
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteModelResponse'
      x-oaiMeta:
        name: Delete a fine-tuned model
        group: models
        examples:
          request:
            curl: "curl https://api.openai.com/v1/models/ft:gpt-4o-mini:acemeco:suffix:abc123\
              \ \\\n  -X DELETE \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\"\
              \n"
            python: "import os\nfrom openai import OpenAI\n\nclient = OpenAI(\n  \
              \  api_key=os.environ.get(\"OPENAI_API_KEY\"),  # This is the default\
              \ and can be omitted\n)\nmodel_deleted = client.models.delete(\n   \
              \ \"ft:gpt-4o-mini:acemeco:suffix:abc123\",\n)\nprint(model_deleted.id)"
            javascript: "import OpenAI from \"openai\";\n\nconst openai = new OpenAI();\n\
              \nasync function main() {\n  const model = await openai.models.delete(\"\
              ft:gpt-4o-mini:acemeco:suffix:abc123\");\n  \n  console.log(model);\n\
              }\nmain();"
            csharp: "using System;\nusing System.ClientModel;\n\nusing OpenAI.Models;\n\
              \nOpenAIModelClient client = new(\n    apiKey: Environment.GetEnvironmentVariable(\"\
              OPENAI_API_KEY\")\n);\n\nClientResult success = client.DeleteModel(\"\
              ft:gpt-4o-mini:acemeco:suffix:abc123\");\nConsole.WriteLine(success);\n"
            node.js: "import OpenAI from 'openai';\n\nconst client = new OpenAI({\n\
              \  apiKey: process.env['OPENAI_API_KEY'], // This is the default and\
              \ can be omitted\n});\n\nconst modelDeleted = await client.models.delete('ft:gpt-4o-mini:acemeco:suffix:abc123');\n\
              \nconsole.log(modelDeleted.id);"
            go: "package main\n\nimport (\n\t\"context\"\n\t\"fmt\"\n\n\t\"github.com/openai/openai-go\"\
              \n\t\"github.com/openai/openai-go/option\"\n)\n\nfunc main() {\n\tclient\
              \ := openai.NewClient(\n\t\toption.WithAPIKey(\"My API Key\"),\n\t)\n\
              \tmodelDeleted, err := client.Models.Delete(context.TODO(), \"ft:gpt-4o-mini:acemeco:suffix:abc123\"\
              )\n\tif err != nil {\n\t\tpanic(err.Error())\n\t}\n\tfmt.Printf(\"%+v\\\
              n\", modelDeleted.ID)\n}\n"
            java: "package com.openai.example;\n\nimport com.openai.client.OpenAIClient;\n\
              import com.openai.client.okhttp.OpenAIOkHttpClient;\nimport com.openai.models.models.ModelDeleteParams;\n\
              import com.openai.models.models.ModelDeleted;\n\npublic final class\
              \ Main {\n    private Main() {}\n\n    public static void main(String[]\
              \ args) {\n        OpenAIClient client = OpenAIOkHttpClient.fromEnv();\n\
              \n        ModelDeleted modelDeleted = client.models().delete(\"ft:gpt-4o-mini:acemeco:suffix:abc123\"\
              );\n    }\n}"
            ruby: 'require "openai"


              openai = OpenAI::Client.new(api_key: "My API Key")


              model_deleted = openai.models.delete("ft:gpt-4o-mini:acemeco:suffix:abc123")


              puts(model_deleted)'
          response: "{\n  \"id\": \"ft:gpt-4o-mini:acemeco:suffix:abc123\",\n  \"\
            object\": \"model\",\n  \"deleted\": true\n}\n"
  /chat/completions:
    get:
      operationId: listChatCompletions
      tags:
      - Chat
      summary: 'List stored Chat Completions. Only Chat Completions that have been
        stored

        with the `store` parameter set to `true` will be returned.

        '
      parameters:
      - name: model
        in: query
        description: The model used to generate the Chat Completions.
        required: false
        schema:
          type: string
      - name: metadata
        in: query
        description: 'A list of metadata keys to filter the Chat Completions by. Example:


          `metadata[key1]=value1&metadata[key2]=value2`

          '
        required: false
        schema:
          $ref: '#/components/schemas/Metadata'
      - name: after
        in: query
        description: Identifier for the last chat completion from the previous pagination
          request.
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Number of Chat Completions to retrieve.
        required: false
        schema:
          type: integer
          default: 20
      - name: order
        in: query
        description: Sort order for Chat Completions by timestamp. Use `asc` for ascending
          order or `desc` for descending order. Defaults to `asc`.
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
      responses:
        '200':
          description: A list of Chat Completions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionList'
      x-oaiMeta:
        name: List Chat Completions
        group: chat
        path: list
        examples:
          request:
            curl: "curl https://api.openai.com/v1/chat/completions \\\n  -H \"Authorization:\
              \ Bearer $OPENAI_API_KEY\" \\\n  -H \"Content-Type: application/json\"\
              \n"
            python: "import os\nfrom openai import OpenAI\n\nclient = OpenAI(\n  \
              \  api_key=os.environ.get(\"OPENAI_API_KEY\"),  # This is the default\
              \ and can be omitted\n)\npage = client.chat.completions.list()\npage\
              \ = page.data[0]\nprint(page.id)"
            node.js: "import OpenAI from 'openai';\n\nconst client = new OpenAI({\n\
              \  apiKey: process.env['OPENAI_API_KEY'], // This is the default and\
              \ can be omitted\n});\n\n// Automatically fetches more pages as needed.\n\
              for await (const chatCompletion of client.chat.completions.list()) {\n\
              \  console.log(chatCompletion.id);\n}"
            go: "package main\n\nimport (\n\t\"context\"\n\t\"fmt\"\n\n\t\"github.com/openai/openai-go\"\
              \n\t\"github.com/openai/openai-go/option\"\n)\n\nfunc main() {\n\tclient\
              \ := openai.NewClient(\n\t\toption.WithAPIKey(\"My API Key\"),\n\t)\n\
              \tpage, err := client.Chat.Completions.List(context.TODO(), openai.ChatCompletionListParams{})\n\
              \tif err != nil {\n\t\tpanic(err.Error())\n\t}\n\tfmt.Printf(\"%+v\\\
              n\", page)\n}\n"
            java: "package com.openai.example;\n\nimport com.openai.client.OpenAIClient;\n\
              import com.openai.client.okhttp.OpenAIOkHttpClient;\nimport com.openai.models.chat.completions.ChatCompletionListPage;\n\
              import com.openai.models.chat.completions.ChatCompletionListParams;\n\
              \npublic final class Main {\n    private Main() {}\n\n    public static\
              \ void main(String[] args) {\n        OpenAIClient client = OpenAIOkHttpClient.fromEnv();\n\
              \n        ChatCompletionListPage page = client.chat().completions().list();\n\
              \    }\n}"
            ruby: 'require "openai"


              openai = OpenAI::Client.new(api_key: "My API Key")


              page = openai.chat.completions.list


              puts(page)'
          response: "{\n  \"object\": \"list\",\n  \"data\": [\n    {\n      \"object\"\
            : \"chat.completion\",\n      \"id\": \"chatcmpl-AyPNinnUqUDYo9SAdA52NobMflmj2\"\
            ,\n      \"model\": \"gpt-4.1-2025-04-14\",\n      \"created\": 1738960610,\n\
            \      \"request_id\": \"req_ded8ab984ec4bf840f37566c1011c417\",\n   \
            \   \"tool_choice\": null,\n      \"usage\": {\n        \"total_tokens\"\
            : 31,\n        \"completion_tokens\": 18,\n        \"prompt_tokens\":\
            \ 13\n      },\n      \"seed\": 4944116822809979520,\n      \"top_p\"\
            : 1.0,\n      \"temperature\": 1.0,\n      \"presence_penalty\": 0.0,\n\
            \      \"frequency_penalty\": 0.0,\n      \"system_fingerprint\": \"fp_50cad350e4\"\
            ,\n      \"input_user\": null,\n      \"service_tier\": \"default\",\n\
            \      \"tools\": null,\n      \"metadata\": {},\n      \"choices\": [\n\
            \        {\n          \"index\": 0,\n          \"message\": {\n      \
            \      \"content\": \"Mind of circuits hum,  \\nLearning patterns in silence—\
            \  \\nFuture's quiet spark.\",\n            \"role\": \"assistant\",\n\
            \            \"tool_calls\": null,\n            \"function_call\": null\n\
            \          },\n          \"finish_reason\": \"stop\",\n          \"logprobs\"\
            : null\n        }\n      ],\n      \"response_format\": null\n    }\n\
            \  ],\n  \"first_id\": \"chatcmpl-AyPNinnUqUDYo9SAdA52NobMflmj2\",\n \
            \ \"last_id\": \"chatcmpl-AyPNinnUqUDYo9SAdA52NobMflmj2\",\n  \"has_more\"\
            : false\n}\n"
    post:
      operationId: createChatCompletion
      tags:
      - Chat
      summary: '**Starting a new project?** We recommend trying [Responses](/docs/api-reference/responses)

        to take advantage of the latest OpenAI platform features. Compare

        [Chat Completions with Responses](/docs/guides/responses-vs-chat-completions?api-mode=responses).


        ---


        Creates a model response for the given chat conversation. Learn more in the

        [text generation](/docs/guides/text-generation), [vision](/docs/guides/vision),

        and [audio](/docs/guides/audio) guides.


        Parameter support can differ depending on the model used to generate the

        response, particularly for newer reasoning models. Parameters that are only

        supported for reasoning models are noted below. For the current state of

        unsupported parameters in reasoning models,

        [refer to the reasoning guide](/docs/guides/reasoning).


        Returns a chat completion object, or a streamed sequence of chat completion

        chunk objects if the request is streamed.

        '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateChatCompletionRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateChatCompletionResponse'
            text/event-stream:
              schema:
                $ref: '#/components/schemas/CreateChatCompletionStreamResponse'
      x-oaiMeta:
        name: Create chat completion
        group: chat
        path: create
        examples:
        - title: Default
          request:
            curl: "curl https://api.openai.com/v1/chat/completions \\\n  -H \"Content-Type:\
              \ application/json\" \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\"\
              \ \\\n  -d '{\n    \"model\": \"VAR_chat_model_id\",\n    \"messages\"\
              : [\n      {\n        \"role\": \"developer\",\n        \"content\"\
              : \"You are a helpful assistant.\"\n      },\n      {\n        \"role\"\
              : \"user\",\n        \"content\": \"Hello!\"\n      }\n    ]\n  }'\n"
            python: "import os\nfrom openai import OpenAI\n\nclient = OpenAI(\n  \
              \  api_key=os.environ.get(\"OPENAI_API_KEY\"),  # This is the default\
              \ and can be omitted\n)\nchat_completion = client.chat.completions.create(\n\
              \    messages=[{\n        \"content\": \"string\",\n        \"role\"\
              : \"developer\",\n    }],\n    model=\"gpt-4o\",\n)\nprint(chat_completion)"
            javascript: "import OpenAI from \"openai\";\n\nconst openai = new OpenAI();\n\
              \nasync function main() {\n  const completion = await openai.chat.completions.create({\n\
              \    messages: [{ role: \"developer\", content: \"You are a helpful\
              \ assistant.\" }],\n    model: \"VAR_chat_model_id\",\n    store: true,\n\
              \  });\n\n  console.log(completion.choices[0]);\n}\n\nmain();\n"
            csharp: "using System;\nusing System.Collections.Generic;\n\nusing OpenAI.Chat;\n\
              \nChatClient client = new(\n    model: \"gpt-4.1\",\n    apiKey: Environment.GetEnvironmentVariable(\"\
              OPENAI_API_KEY\")\n);\n\nList<ChatMessage> messages =\n[\n    new SystemChatMessage(\"\
              You are a helpful assistant.\"),\n    new UserChatMessage(\"Hello!\"\
              )\n];\n\nChatCompletion completion = client.CompleteChat(messages);\n\
              \nConsole.WriteLine(completion.Content[0].Text);\n"
            node.js: "import OpenAI from 'openai';\n\nconst client = new OpenAI({\n\
              \  apiKey: process.env['OPENAI_API_KEY'], // This is the default and\
              \ can be omitted\n});\n\nconst chatCompletion = await client.chat.completions.create({\n\
              \  messages: [{ content: 'string', role: 'developer' }],\n  model: 'gpt-4o',\n\
              });\n\nconsole.log(chatCompletion);"
            go: "package main\n\nimport (\n\t\"context\"\n\t\"fmt\"\n\n\t\"github.com/openai/openai-go\"\
              \n\t\"github.com/openai/openai-go/option\"\n\t\"github.com/openai/openai-go/shared\"\
              \n)\n\nfunc main() {\n\tclient := openai.NewClient(\n\t\toption.WithAPIKey(\"\
              My API Key\"),\n\t)\n\tchatCompletion, err := client.Chat.Completions.New(context.TODO(),\
              \ openai.ChatCompletionNewParams{\n\t\tMessages: []openai.ChatCompletionMessageParamUnion{{\n\
              \t\t\tOfDeveloper: &openai.ChatCompletionDeveloperMessageParam{\n\t\t\
              \t\tContent: openai.ChatCompletionDeveloperMessageParamContentUnion{\n\
              \t\t\t\t\tOfString: openai.String(\"string\"),\n\t\t\t\t},\n\t\t\t},\n\
              \t\t}},\n\t\tModel: shared.ChatModelGPT4o,\n\t})\n\tif err != nil {\n\
              \t\tpanic(err.Error())\n\t}\n\tfmt.Printf(\"%+v\\n\", chatCompletion)\n\
              }\n"
            java: "package com.openai.example;\n\nimport com.openai.client.OpenAIClient;\n\
              import com.openai.client.okhttp.OpenAIOkHttpClient;\nimport com.openai.models.ChatModel;\n\
              import com.openai.models.chat.completions.ChatCompletion;\nimport com.openai.models.chat.completions.ChatCompletionCreateParams;\n\
              \npublic final class Main {\n    private Main() {}\n\n    public static\
              \ void main(String[] args) {\n        OpenAIClient client = OpenAIOkHttpClient.fromEnv();\n\
              \n        ChatCompletionCreateParams params = ChatCompletionCreateParams.builder()\n\
              \            .addDeveloperMessage(\"string\")\n            .model(ChatModel.GPT_4O)\n\
              \            .build();\n        ChatCompletion chatCompletion = client.chat().completions().create(params);\n\
              \    }\n}"
            ruby: 'require "openai"


              openai = OpenAI::Client.new(api_key: "My API Key")


              chat_completion = openai.chat.completions.create(messages: [{content:
              "string", role: :developer}], model: :"gpt-4o")


              puts(chat_completion)'
          response: "{\n  \"id\": \"chatcmpl-B9MBs8CjcvOU2jLn4n570S5qMJKcT\",\n  \"\
            object\": \"chat.completion\",\n  \"created\": 1741569952,\n  \"model\"\
            : \"gpt-4.1-2025-04-14\",\n  \"choices\": [\n    {\n      \"index\": 0,\n\
            \      \"message\": {\n        \"role\": \"assistant\",\n        \"content\"\
            : \"Hello! How can I assist you today?\",\n        \"refusal\": null,\n\
            \        \"annotations\": []\n      },\n      \"logprobs\": null,\n  \
            \    \"finish_reason\": \"stop\"\n    }\n  ],\n  \"usage\": {\n    \"\
            prompt_tokens\": 19,\n    \"completion_tokens\": 10,\n    \"total_tokens\"\
            : 29,\n    \"prompt_tokens_details\": {\n      \"cached_tokens\": 0,\n\
            \      \"audio_tokens\": 0\n    },\n    \"completion_tokens_details\"\
            : {\n      \"reasoning_tokens\": 0,\n      \"audio_tokens\": 0,\n    \
            \  \"accepted_prediction_tokens\": 0,\n      \"rejected_prediction_tokens\"\
            : 0\n    }\n  },\n  \"service_tier\": \"default\"\n}\n"
        - title: Image input
          request:
            curl: "curl https://api.openai.com/v1/chat/completions \\\n  -H \"Content-Type:\
              \ application/json\" \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\"\
              \ \\\n  -d '{\n    \"model\": \"gpt-4.1\",\n    \"messages\": [\n  \
              \    {\n        \"role\": \"user\",\n        \"content\": [\n      \
              \    {\n            \"type\": \"text\",\n            \"text\": \"What\
              \ is in this image?\"\n          },\n          {\n            \"type\"\
              : \"image_url\",\n            \"image_url\": {\n              \"url\"\
              : \"https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Gfp-wisconsin-madison-the-nature-boardwalk.jpg/2560px-Gfp-wisconsin-madison-the-nature-boardwalk.jpg\"\
              \n            }\n          }\n        ]\n      }\n    ],\n    \"max_tokens\"\
              : 300\n  }'\n"
            python: "import os\nfrom openai import OpenAI\n\nclient = OpenAI(\n  \
              \  api_key=os.environ.get(\"OPENAI_API_KEY\"),  # This is the default\
              \ and can be omitted\n)\nchat_completion = client.chat.completions.create(\n\
              \    messages=[{\n        \"content\": \"string\",\n        \"role\"\
              : \"developer\",\n    }],\n    model=\"gpt-4o\",\n)\nprint(chat_completion)"
            javascript: "import OpenAI from \"openai\";\n\nconst openai = new OpenAI();\n\
              \nasync function main() {\n  const response = await openai.chat.completions.create({\n\
              \    model: \"gpt-4.1\",\n    messages: [\n      {\n        role: \"\
              user\",\n        content: [\n          { type: \"text\", text: \"What's\
              \ in this image?\" },\n          {\n            type: \"image_url\"\
              ,\n            image_url: {\n              \"url\": \"https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Gfp-wisconsin-madison-the-nature-boardwalk.jpg/2560px-Gfp-wisconsin-madison-the-nature-boardwalk.jpg\"\
              ,\n            },\n          }\n        ],\n      },\n    ],\n  });\n\
              \  console.log(response.choices[0]);\n}\nmain();\n"
            csharp: "using System;\nusing System.Collections.Generic;\n\nusing OpenAI.Chat;\n\
              \nChatClient client = new(\n    model: \"gpt-4.1\",\n    apiKey: Environment.GetEnvironmentVariable(\"\
              OPENAI_API_KEY\")\n);\n\nList<ChatMessage> messages =\n[\n    new UserChatMessage(\n\
              \    [\n        ChatMessageContentPart.CreateTextPart(\"What's in this\
              \ image?\"),\n        ChatMessageContentPart.CreateImagePart(new Uri(\"\
              https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Gfp-wisconsin-madison-the-nature-boardwalk.jpg/2560px-Gfp-wisconsin-madison-the-nature-boardwalk.jpg\"\
              ))\n    ])\n];\n\nChatCompletion completion = client.CompleteChat(messages);\n\
              \nConsole.WriteLine(completion.Content[0].Text);\n"
            node.js: "import OpenAI from 'openai';\n\nconst client = new OpenAI({\n\
              \  apiKey: process.env['OPENAI_API_KEY'], // This is the default and\
              \ can be omitted\n});\n\nconst chatCompletion = await client.chat.completions.create({\n\
              \  messages: [{ content: 'string', role: 'developer' }],\n  model: 'gpt-4o',\n\
              });\n\nconsole.log(chatCompletion);"
            go: "package main\n\nimport (\n\t\"context\"\n\t\"fmt\"\n\n\t\"github.com/openai/openai-go\"\
              \n\t\"github.com/openai/openai-go/option\"\n\t\"github.com/openai/openai-go/shared\"\
              \n)\n\nfunc main() {\n\tclient := openai.NewClient(\n\t\toption.WithAPIKey(\"\
              My API Key\"),\n\t)\n\tchatCompletion, err := client.Chat.Completions.New(context.TODO(),\
              \ openai.ChatCompletionNewParams{\n\t\tMessages: []openai.ChatCompletionMessageParamUnion{{\n\
              \t\t\tOfDeveloper: &openai.ChatCompletionDeveloperMessageParam{\n\t\t\
              \t\tContent: openai.ChatCompletionDeveloperMessageParamContentUnion{\n\
              \t\t\t\t\tOfString: openai.String(\"string\"),\n\t\t\t\t},\n\t\t\t},\n\
              \t\t}},\n\t\tModel: shared.ChatModelGPT4o,\n\t})\n\tif err != nil {\n\
              \t\tpanic(err.Error())\n\t}\n\tfmt.Printf(\"%+v\\n\", chatCompletion)\n\
              }\n"
            java: "package com.openai.example;\n\nimport com.openai.client.OpenAIClient;\n\
              import com.openai.client.okhttp.OpenAIOkHttpClient;\nimport com.openai.models.ChatModel;\n\
              import com.openai.models.chat.completions.ChatCompletion;\nimport com.openai.models.chat.completions.ChatCompletionCreateParams;\n\
              \npublic final class Main {\n    private Main() {}\n\n    public static\
              \ void main(String[] args) {\n        OpenAIClient client = OpenAIOkHttpClient.fromEnv();\n\
              \n        ChatCompletionCreateParams params = ChatCompletionCreateParams.builder()\n\
              \            .addDeveloperMessage(\"string\")\n            .model(ChatModel.GPT_4O)\n\
              \            .build();\n        ChatCompletion chatCompletion = client.chat().completions().create(params);\n\
              \    }\n}"
            ruby: 'require "openai"


              openai = OpenAI::Client.new(api_key: "My API Key")


              chat_completion = openai.chat.completions.create(messages: [{content:
              "string", role: :developer}], model: :"gpt-4o")


              puts(chat_completion)'
          response: "{\n  \"id\": \"chatcmpl-B9MHDbslfkBeAs8l4bebGdFOJ6PeG\",\n  \"\
            object\": \"chat.completion\",\n  \"created\": 1741570283,\n  \"model\"\
            : \"gpt-4.1-2025-04-14\",\n  \"choices\": [\n    {\n      \"index\": 0,\n\
            \      \"message\": {\n        \"role\": \"assistant\",\n        \"content\"\
            : \"The image shows a wooden boardwalk path running through a lush green\
            \ field or meadow. The sky is bright blue with some scattered clouds,\
            \ giving the scene a serene and peaceful atmosphere. Trees and shrubs\
            \ are visible in the background.\",\n        \"refusal\": null,\n    \
            \    \"annotations\": []\n      },\n      \"logprobs\": null,\n      \"\
            finish_reason\": \"stop\"\n    }\n  ],\n  \"usage\": {\n    \"prompt_tokens\"\
            : 1117,\n    \"completion_tokens\": 46,\n    \"total_tokens\": 1163,\n\
            \    \"prompt_tokens_details\": {\n      \"cached_tokens\": 0,\n     \
            \ \"audio_tokens\": 0\n    },\n    \"completion_tokens_details\": {\n\
            \      \"reasoning_tokens\": 0,\n      \"audio_tokens\": 0,\n      \"\
            accepted_prediction_tokens\": 0,\n      \"rejected_prediction_tokens\"\
            : 0\n    }\n  },\n  \"service_tier\": \"default\"\n}\n"
        - title: Streaming
          request:
            curl: "curl https://api.openai.com/v1/chat/completions \\\n  -H \"Content-Type:\
              \ application/json\" \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\"\
              \ \\\n  -d '{\n    \"model\": \"VAR_chat_model_id\",\n    \"messages\"\
              : [\n      {\n        \"role\": \"developer\",\n        \"content\"\
              : \"You are a helpful assistant.\"\n      },\n      {\n        \"role\"\
              : \"user\",\n        \"content\": \"Hello!\"\n      }\n    ],\n    \"\
              stream\": true\n  }'\n"
            python: "import os\nfrom openai import OpenAI\n\nclient = OpenAI(\n  \
              \  api_key=os.environ.get(\"OPENAI_API_KEY\"),  # This is the default\
              \ and can be omitted\n)\nchat_completion = client.chat.completions.create(\n\
              \    messages=[{\n        \"content\": \"string\",\n        \"role\"\
              : \"developer\",\n    }],\n    model=\"gpt-4o\",\n)\nprint(chat_completion)"
            javascript: "import OpenAI from \"openai\";\n\nconst openai = new OpenAI();\n\
              \nasync function main() {\n  const completion = await openai.chat.completions.create({\n\
              \    model: \"VAR_chat_model_id\",\n    messages: [\n      {\"role\"\
              : \"developer\", \"content\": \"You are a helpful assistant.\"},\n \
              \     {\"role\": \"user\", \"content\": \"Hello!\"}\n    ],\n    stream:\
              \ true,\n  });\n\n  for await (const chunk of completion) {\n    console.log(chunk.choices[0].delta.content);\n\
              \  }\n}\n\nmain();\n"
            csharp: "using System;\nusing System.ClientModel;\nusing System.Collections.Generic;\n\
              using System.Threading.Tasks;\n\nusing OpenAI.Chat;\n\nChatClient client\
              \ = new(\n    model: \"gpt-4.1\",\n    apiKey: Environment.GetEnvironmentVariable(\"\
              OPENAI_API_KEY\")\n);\n\nList<ChatMessage> messages =\n[\n    new SystemChatMessage(\"\
              You are a helpful assistant.\"),\n    new UserChatMessage(\"Hello!\"\
              )\n];\n\nAsyncCollectionResult<StreamingChatCompletionUpdate> completionUpdates\
              \ = client.CompleteChatStreamingAsync(messages);\n\nawait foreach (StreamingChatCompletionUpdate\
              \ completionUpdate in completionUpdates)\n{\n    if (completionUpdate.ContentUpdate.Count\
              \ > 0)\n    {\n        Console.Write(completionUpdate.ContentUpdate[0].Text);\n\
              \    }\n}\n"
            node.js: "import OpenAI from 'openai';\n\nconst client = new OpenAI({\n\
              \  apiKey: process.env['OPENAI_API_KEY'], // This is the default and\
              \ can be omitted\n});\n\nconst chatCompletion = await client.chat.completions.create({\n\
              \  messages: [{ content: 'string', role: 'developer' }],\n  model: 'gpt-4o',\n\
              });\n\nconsole.log(chatCompletion);"
            go: "package main\n\nimport (\n\t\"context\"\n\t\"fmt\"\n\n\t\"github.com/openai/openai-go\"\
              \n\t\"github.com/openai/openai-go/option\"\n\t\"github.com/openai/openai-go/shared\"\
              \n)\n\nfunc main() {\n\tclient := openai.NewClient(\n\t\toption.WithAPIKey(\"\
              My API Key\"),\n\t)\n\tchatCompletion, err := client.Chat.Completions.New(context.TODO(),\
              \ openai.ChatCompletionNewParams{\n\t\tMessages: []openai.ChatCompletionMessageParamUnion{{\n\
              \t\t\tOfDeveloper: &openai.ChatCompletionDeveloperMessageParam{\n\t\t\
              \t\tContent: openai.ChatCompletionDeveloperMessageParamContentUnion{\n\
              \t\t\t\t\tOfString: openai.String(\"string\"),\n\t\t\t\t},\n\t\t\t},\n\
              \t\t}},\n\t\tModel: shared.ChatModelGPT4o,\n\t})\n\tif err != nil {\n\
              \t\tpanic(err.Error())\n\t}\n\tfmt.Printf(\"%+v\\n\", chatCompletion)\n\
              }\n"
            java: "package com.openai.example;\n\nimport com.openai.client.OpenAIClient;\n\
              import com.openai.client.okhttp.OpenAIOkHttpClient;\nimport com.openai.models.ChatModel;\n\
              import com.openai.models.chat.completions.ChatCompletion;\nimport com.openai.models.chat.completions.ChatCompletionCreateParams;\n\
              \npublic final class Main {\n    private Main() {}\n\n    public static\
              \ void main(String[] args) {\n        OpenAIClient client = OpenAIOkHttpClient.fromEnv();\n\
              \n        ChatCompletionCreateParams params = ChatCompletionCreateParams.builder()\n\
              \            .addDeveloperMessage(\"string\")\n            .model(ChatModel.GPT_4O)\n\
              \            .build();\n        ChatCompletion chatCompletion = client.chat().completions().create(params);\n\
              \    }\n}"
            ruby: 'require "openai"


              openai = OpenAI::Client.new(api_key: "My API Key")


              chat_completion = openai.chat.completions.create(messages: [{content:
              "string", role: :developer}], model: :"gpt-4o")


              puts(chat_completion)'
          response: '{"id":"chatcmpl-123","object":"chat.completion.chunk","created":1694268190,"model":"gpt-4o-mini",
            "system_fingerprint": "fp_44709d6fcb", "choices":[{"index":0,"delta":{"role":"assistant","content":""},"logprobs":null,"finish_reason":null}]}


            {"id":"chatcmpl-123","object":"chat.completion.chunk","created":1694268190,"model":"gpt-4o-mini",
            "system_fingerprint": "fp_44709d6fcb", "choices":[{"index":0,"delta":{"content":"Hello"},"logprobs":null,"finish_reason":null}]}


            ....


            {"id":"chatcmpl-123","object":"chat.completion.chunk","created":1694268190,"model":"gpt-4o-mini",
            "system_fingerprint": "fp_44709d6fcb", "choices":[{"index":0,"delta":{},"logprobs":null,"finish_reason":"stop"}]}

            '
        - title: Functions
          request:
            curl: "curl https://api.openai.com/v1/chat/completions \\\n-H \"Content-Type:\
              \ application/json\" \\\n-H \"Authorization: Bearer $OPENAI_API_KEY\"\
              \ \\\n-d '{\n  \"model\": \"gpt-4.1\",\n  \"messages\": [\n    {\n \
              \     \"role\": \"user\",\n      \"content\": \"What is the weather\
              \ like in Boston today?\"\n    }\n  ],\n  \"tools\": [\n    {\n    \
              \  \"type\": \"function\",\n      \"function\": {\n        \"name\"\
              : \"get_current_weather\",\n        \"description\": \"Get the current\
              \ weather in a given location\",\n        \"parameters\": {\n      \
              \    \"type\": \"object\",\n          \"properties\": {\n          \
              \  \"location\": {\n              \"type\": \"string\",\n          \
              \    \"description\": \"The city and state, e.g. San Francisco, CA\"\
              \n            },\n            \"unit\": {\n              \"type\": \"\
              string\",\n              \"enum\": [\"celsius\", \"fahrenheit\"]\n \
              \           }\n          },\n          \"required\": [\"location\"]\n\
              \        }\n      }\n    }\n  ],\n  \"tool_choice\": \"auto\"\n}'\n"
            python: "import os\nfrom openai import OpenAI\n\nclient = OpenAI(\n  \
              \  api_key=os.environ.get(\"OPENAI_API_KEY\"),  # This is the default\
              \ and can be omitted\n)\nchat_completion = client.chat.completions.create(\n\
              \    messages=[{\n        \"content\": \"string\",\n        \"role\"\
              : \"developer\",\n    }],\n    model=\"gpt-4o\",\n)\nprint(chat_completion)"
            javascript: "import OpenAI from \"openai\";\n\nconst openai = new OpenAI();\n\
              \nasync function main() {\n  const messages = [{\"role\": \"user\",\
              \ \"content\": \"What's the weather like in Boston today?\"}];\n  const\
              \ tools = [\n      {\n        \"type\": \"function\",\n        \"function\"\
              : {\n          \"name\": \"get_current_weather\",\n          \"description\"\
              : \"Get the current weather in a given location\",\n          \"parameters\"\
              : {\n            \"type\": \"object\",\n            \"properties\":\
              \ {\n              \"location\": {\n                \"type\": \"string\"\
              ,\n                \"description\": \"The city and state, e.g. San Francisco,\
              \ CA\",\n              },\n              \"unit\": {\"type\": \"string\"\
              , \"enum\": [\"celsius\", \"fahrenheit\"]},\n            },\n      \
              \      \"required\": [\"location\"],\n          },\n        }\n    \
              \  }\n  ];\n\n  const response = await openai.chat.completions.create({\n\
              \    model: \"gpt-4.1\",\n    messages: messages,\n    tools: tools,\n\
              \    tool_choice: \"auto\",\n  });\n\n  console.log(response);\n}\n\n\
              main();\n"
            csharp: "using System;\nusing System.Collections.Generic;\n\nusing OpenAI.Chat;\n\
              \nChatClient client = new(\n    model: \"gpt-4.1\",\n    apiKey: Environment.GetEnvironmentVariable(\"\
              OPENAI_API_KEY\")\n);\n\nChatTool getCurrentWeatherTool = ChatTool.CreateFunctionTool(\n\
              \    functionName: \"get_current_weather\",\n    functionDescription:\
              \ \"Get the current weather in a given location\",\n    functionParameters:\
              \ BinaryData.FromString(\"\"\"\n        {\n            \"type\": \"\
              object\",\n            \"properties\": {\n                \"location\"\
              : {\n                    \"type\": \"string\",\n                   \
              \ \"description\": \"The city and state, e.g. San Francisco, CA\"\n\
              \                },\n                \"unit\": {\n                 \
              \   \"type\": \"string\",\n                    \"enum\": [ \"celsius\"\
              , \"fahrenheit\" ]\n                }\n            },\n            \"\
              required\": [ \"location\" ]\n        }\n    \"\"\")\n);\n\nList<ChatMessage>\
              \ messages =\n[\n    new UserChatMessage(\"What's the weather like in\
              \ Boston today?\"),\n];\n\nChatCompletionOptions options = new()\n{\n\
              \    Tools =\n    {\n        getCurrentWeatherTool\n    },\n    ToolChoice\
              \ = ChatToolChoice.CreateAutoChoice(),\n};\n\nChatCompletion completion\
              \ = client.CompleteChat(messages, options);\n"
            node.js: "import OpenAI from 'openai';\n\nconst client = new OpenAI({\n\
              \  apiKey: process.env['OPENAI_API_KEY'], // This is the default and\
              \ can be omitted\n});\n\nconst chatCompletion = await client.chat.completions.create({\n\
              \  messages: [{ content: 'string', role: 'developer' }],\n  model: 'gpt-4o',\n\
              });\n\nconsole.log(chatCompletion);"
            go: "package main\n\nimport (\n\t\"context\"\n\t\"fmt\"\n\n\t\"github.com/openai/openai-go\"\
              \n\t\"github.com/openai/openai-go/option\"\n\t\"github.com/openai/openai-go/shared\"\
              \n)\n\nfunc main() {\n\tclient := openai.NewClient(\n\t\toption.WithAPIKey(\"\
              My API Key\"),\n\t)\n\tchatCompletion, err := client.Chat.Completions.New(context.TODO(),\
              \ openai.ChatCompletionNewParams{\n\t\tMessages: []openai.ChatCompletionMessageParamUnion{{\n\
              \t\t\tOfDeveloper: &openai.ChatCompletionDeveloperMessageParam{\n\t\t\
              \t\tContent: openai.ChatCompletionDeveloperMessageParamContentUnion{\n\
              \t\t\t\t\tOfString: openai.String(\"string\"),\n\t\t\t\t},\n\t\t\t},\n\
              \t\t}},\n\t\tModel: shared.ChatModelGPT4o,\n\t})\n\tif err != nil {\n\
              \t\tpanic(err.Error())\n\t}\n\tfmt.Printf(\"%+v\\n\", chatCompletion)\n\
              }\n"
            java: "package com.openai.example;\n\nimport com.openai.client.OpenAIClient;\n\
              import com.openai.client.okhttp.OpenAIOkHttpClient;\nimport com.openai.models.ChatModel;\n\
              import com.openai.models.chat.completions.ChatCompletion;\nimport com.openai.models.chat.completions.ChatCompletionCreateParams;\n\
              \npublic final class Main {\n    private Main() {}\n\n    public static\
              \ void main(String[] args) {\n        OpenAIClient client = OpenAIOkHttpClient.fromEnv();\n\
              \n        ChatCompletionCreateParams params = ChatCompletionCreateParams.builder()\n\
              \            .addDeveloperMessage(\"string\")\n            .model(ChatModel.GPT_4O)\n\
              \            .build();\n        ChatCompletion chatCompletion = client.chat().completions().create(params);\n\
              \    }\n}"
            ruby: 'require "openai"


              openai = OpenAI::Client.new(api_key: "My API Key")


              chat_completion = openai.chat.completions.create(messages: [{content:
              "string", role: :developer}], model: :"gpt-4o")


              puts(chat_completion)'
          response: "{\n  \"id\": \"chatcmpl-abc123\",\n  \"object\": \"chat.completion\"\
            ,\n  \"created\": 1699896916,\n  \"model\": \"gpt-4o-mini\",\n  \"choices\"\
            : [\n    {\n      \"index\": 0,\n      \"message\": {\n        \"role\"\
            : \"assistant\",\n        \"content\": null,\n        \"tool_calls\":\
            \ [\n          {\n            \"id\": \"call_abc123\",\n            \"\
            type\": \"function\",\n            \"function\": {\n              \"name\"\
            : \"get_current_weather\",\n              \"arguments\": \"{\\n\\\"location\\\
            \": \\\"Boston, MA\\\"\\n}\"\n            }\n          }\n        ]\n\
            \      },\n      \"logprobs\": null,\n      \"finish_reason\": \"tool_calls\"\
            \n    }\n  ],\n  \"usage\": {\n    \"prompt_tokens\": 82,\n    \"completion_tokens\"\
            : 17,\n    \"total_tokens\": 99,\n    \"completion_tokens_details\": {\n\
            \      \"reasoning_tokens\": 0,\n      \"accepted_prediction_tokens\"\
            : 0,\n      \"rejected_prediction_tokens\": 0\n    }\n  }\n}\n"
        - title: Logprobs
          request:
            curl: "curl https://api.openai.com/v1/chat/completions \\\n  -H \"Content-Type:\
              \ application/json\" \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\"\
              \ \\\n  -d '{\n    \"model\": \"VAR_chat_model_id\",\n    \"messages\"\
              : [\n      {\n        \"role\": \"user\",\n        \"content\": \"Hello!\"\
              \n      }\n    ],\n    \"logprobs\": true,\n    \"top_logprobs\": 2\n\
              \  }'\n"
            python: "import os\nfrom openai import OpenAI\n\nclient = OpenAI(\n  \
              \  api_key=os.environ.get(\"OPENAI_API_KEY\"),  # This is the default\
              \ and can be omitted\n)\nchat_completion = client.chat.completions.create(\n\
              \    messages=[{\n        \"content\": \"string\",\n        \"role\"\
              : \"developer\",\n    }],\n    model=\"gpt-4o\",\n)\nprint(chat_completion)"
            javascript: "import OpenAI from \"openai\";\n\nconst openai = new OpenAI();\n\
              \nasync function main() {\n  const completion = await openai.chat.completions.create({\n\
              \    messages: [{ role: \"user\", content: \"Hello!\" }],\n    model:\
              \ \"VAR_chat_model_id\",\n    logprobs: true,\n    top_logprobs: 2,\n\
              \  });\n\n  console.log(completion.choices[0]);\n}\n\nmain();\n"
            csharp: "using System;\nusing System.Collections.Generic;\n\nusing OpenAI.Chat;\n\
              \nChatClient client = new(\n    model: \"gpt-4.1\",\n    apiKey: Environment.GetEnvironmentVariable(\"\
              OPENAI_API_KEY\")\n);\n\nList<ChatMessage> messages =\n[\n    new UserChatMessage(\"\
              Hello!\")\n];\n\nChatCompletionOptions options = new()\n{\n    IncludeLogProbabilities\
              \ = true,\n    TopLogProbabilityCount = 2\n};\n\nChatCompletion completion\
              \ = client.CompleteChat(messages, options);\n\nConsole.WriteLine(completion.Content[0].Text);\n"
            node.js: "import OpenAI from 'openai';\n\nconst client = new OpenAI({\n\
              \  apiKey: process.env['OPENAI_API_KEY'], // This is the default and\
              \ can be omitted\n});\n\nconst chatCompletion = await client.chat.completions.create({\n\
              \  messages: [{ content: 'string', role: 'developer' }],\n  model: 'gpt-4o',\n\
              });\n\nconsole.log(chatCompletion);"
            go: "package main\n\nimport (\n\t\"context\"\n\t\"fmt\"\n\n\t\"github.com/openai/openai-go\"\
              \n\t\"github.com/openai/openai-go/option\"\n\t\"github.com/openai/openai-go/shared\"\
              \n)\n\nfunc main() {\n\tclient := openai.NewClient(\n\t\toption.WithAPIKey(\"\
              My API Key\"),\n\t)\n\tchatCompletion, err := client.Chat.Completions.New(context.TODO(),\
              \ openai.ChatCompletionNewParams{\n\t\tMessages: []openai.ChatCompletionMessageParamUnion{{\n\
              \t\t\tOfDeveloper: &openai.ChatCompletionDeveloperMessageParam{\n\t\t\
              \t\tContent: openai.ChatCompletionDeveloperMessageParamContentUnion{\n\
              \t\t\t\t\tOfString: openai.String(\"string\"),\n\t\t\t\t},\n\t\t\t},\n\
              \t\t}},\n\t\tModel: shared.ChatModelGPT4o,\n\t})\n\tif err != nil {\n\
              \t\tpanic(err.Error())\n\t}\n\tfmt.Printf(\"%+v\\n\", chatCompletion)\n\
              }\n"
            java: "package com.openai.example;\n\nimport com.openai.client.OpenAIClient;\n\
              import com.openai.client.okhttp.OpenAIOkHttpClient;\nimport com.openai.models.ChatModel;\n\
              import com.openai.models.chat.completions.ChatCompletion;\nimport com.openai.models.chat.completions.ChatCompletionCreateParams;\n\
              \npublic final class Main {\n    private Main() {}\n\n    public static\
              \ void main(String[] args) {\n        OpenAIClient client = OpenAIOkHttpClient.fromEnv();\n\
              \n        ChatCompletionCreateParams params = ChatCompletionCreateParams.builder()\n\
              \            .addDeveloperMessage(\"string\")\n            .model(ChatModel.GPT_4O)\n\
              \            .build();\n        ChatCompletion chatCompletion = client.chat().completions().create(params);\n\
              \    }\n}"
            ruby: 'require "openai"


              openai = OpenAI::Client.new(api_key: "My API Key")


              chat_completion = openai.chat.completions.create(messages: [{content:
              "string", role: :developer}], model: :"gpt-4o")


              puts(chat_completion)'
          response: "{\n  \"id\": \"chatcmpl-123\",\n  \"object\": \"chat.completion\"\
            ,\n  \"created\": 1702685778,\n  \"model\": \"gpt-4o-mini\",\n  \"choices\"\
            : [\n    {\n      \"index\": 0,\n      \"message\": {\n        \"role\"\
            : \"assistant\",\n        \"content\": \"Hello! How can I assist you today?\"\
            \n      },\n      \"logprobs\": {\n        \"content\": [\n          {\n\
            \            \"token\": \"Hello\",\n            \"logprob\": -0.31725305,\n\
            \            \"bytes\": [72, 101, 108, 108, 111],\n            \"top_logprobs\"\
            : [\n              {\n                \"token\": \"Hello\",\n        \
            \        \"logprob\": -0.31725305,\n                \"bytes\": [72, 101,\
            \ 108, 108, 111]\n              },\n              {\n                \"\
            token\": \"Hi\",\n                \"logprob\": -1.3190403,\n         \
            \       \"bytes\": [72, 105]\n              }\n            ]\n       \
            \   },\n          {\n            \"token\": \"!\",\n            \"logprob\"\
            : -0.02380986,\n            \"bytes\": [\n              33\n         \
            \   ],\n            \"top_logprobs\": [\n              {\n           \
            \     \"token\": \"!\",\n                \"logprob\": -0.02380986,\n \
            \               \"bytes\": [33]\n              },\n              {\n \
            \               \"token\": \" there\",\n                \"logprob\": -3.787621,\n\
            \                \"bytes\": [32, 116, 104, 101, 114, 101]\n          \
            \    }\n            ]\n          },\n          {\n            \"token\"\
            : \" How\",\n            \"logprob\": -0.000054669687,\n            \"\
            bytes\": [32, 72, 111, 119],\n            \"top_logprobs\": [\n      \
            \        {\n                \"token\": \" How\",\n                \"logprob\"\
            : -0.000054669687,\n                \"bytes\": [32, 72, 111, 119]\n  \
            \            },\n              {\n                \"token\": \"<|end|>\"\
            ,\n                \"logprob\": -10.953937,\n                \"bytes\"\
            : null\n              }\n            ]\n          },\n          {\n  \
            \          \"token\": \" can\",\n            \"logprob\": -0.015801601,\n\
            \            \"bytes\": [32, 99, 97, 110],\n            \"top_logprobs\"\
            : [\n              {\n                \"token\": \" can\",\n         \
            \       \"logprob\": -0.015801601,\n                \"bytes\": [32, 99,\
            \ 97, 110]\n              },\n              {\n                \"token\"\
            : \" may\",\n                \"logprob\": -4.161023,\n               \
            \ \"bytes\": [32, 109, 97, 121]\n              }\n            ]\n    \
            \      },\n          {\n            \"token\": \" I\",\n            \"\
            logprob\": -3.7697225e-6,\n            \"bytes\": [\n              32,\n\
            \              73\n            ],\n            \"top_logprobs\": [\n \
            \             {\n                \"token\": \" I\",\n                \"\
            logprob\": -3.7697225e-6,\n                \"bytes\": [32, 73]\n     \
            \         },\n              {\n                \"token\": \" assist\"\
            ,\n                \"logprob\": -13.596657,\n                \"bytes\"\
            : [32, 97, 115, 115, 105, 115, 116]\n              }\n            ]\n\
            \          },\n          {\n            \"token\": \" assist\",\n    \
            \        \"logprob\": -0.04571125,\n            \"bytes\": [32, 97, 115,\
            \ 115, 105, 115, 116],\n            \"top_logprobs\": [\n            \
            \  {\n                \"token\": \" assist\",\n                \"logprob\"\
            : -0.04571125,\n                \"bytes\": [32, 97, 115, 115, 105, 115,\
            \ 116]\n              },\n              {\n                \"token\":\
            \ \" help\",\n                \"logprob\": -3.1089056,\n             \
            \   \"bytes\": [32, 104, 101, 108, 112]\n              }\n           \
            \ ]\n          },\n          {\n            \"token\": \" you\",\n   \
            \         \"logprob\": -5.4385737e-6,\n            \"bytes\": [32, 121,\
            \ 111, 117],\n            \"top_logprobs\": [\n              {\n     \
            \           \"token\": \" you\",\n                \"logprob\": -5.4385737e-6,\n\
            \                \"bytes\": [32, 121, 111, 117]\n              },\n  \
            \            {\n                \"token\": \" today\",\n             \
            \   \"logprob\": -12.807695,\n                \"bytes\": [32, 116, 111,\
            \ 100, 97, 121]\n              }\n            ]\n          },\n      \
            \    {\n            \"token\": \" today\",\n            \"logprob\": -0.0040071653,\n\
            \            \"bytes\": [32, 116, 111, 100, 97, 121],\n            \"\
            top_logprobs\": [\n              {\n                \"token\": \" today\"\
            ,\n                \"logprob\": -0.0040071653,\n                \"bytes\"\
            : [32, 116, 111, 100, 97, 121]\n              },\n              {\n  \
            \              \"token\": \"?\",\n                \"logprob\": -5.5247097,\n\
            \                \"bytes\": [63]\n              }\n            ]\n   \
            \       },\n          {\n            \"token\": \"?\",\n            \"\
            logprob\": -0.0008108172,\n            \"bytes\": [63],\n            \"\
            top_logprobs\": [\n              {\n                \"token\": \"?\",\n\
            \                \"logprob\": -0.0008108172,\n                \"bytes\"\
            : [63]\n              },\n              {\n                \"token\":\
            \ \"?\\n\",\n                \"logprob\": -7.184561,\n               \
            \ \"bytes\": [63, 10]\n              }\n            ]\n          }\n \
            \       ]\n      },\n      \"finish_reason\": \"stop\"\n    }\n  ],\n\
            \  \"usage\": {\n    \"prompt_tokens\": 9,\n    \"completion_tokens\"\
            : 9,\n    \"total_tokens\": 18,\n    \"completion_tokens_details\": {\n\
            \      \"reasoning_tokens\": 0,\n      \"accepted_prediction_tokens\"\
            : 0,\n      \"rejected_prediction_tokens\": 0\n    }\n  },\n  \"system_fingerprint\"\
            : null\n}\n"
  /completions:
    post:
      operationId: createCompletion
      tags:
      - Completions
      summary: 'Creates a completion for the provided prompt and parameters.


        Returns a completion object, or a sequence of completion objects if the request
        is streamed.

        '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCompletionRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCompletionResponse'
      x-oaiMeta:
        name: Create completion
        group: completions
        legacy: true
        examples:
        - title: No streaming
          request:
            curl: "curl https://api.openai.com/v1/completions \\\n  -H \"Content-Type:\
              \ application/json\" \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\"\
              \ \\\n  -d '{\n    \"model\": \"VAR_completion_model_id\",\n    \"prompt\"\
              : \"Say this is a test\",\n    \"max_tokens\": 7,\n    \"temperature\"\
              : 0\n  }'\n"
            python: "import os\nfrom openai import OpenAI\n\nclient = OpenAI(\n  \
              \  api_key=os.environ.get(\"OPENAI_API_KEY\"),  # This is the default\
              \ and can be omitted\n)\ncompletion = client.completions.create(\n \
              \   model=\"string\",\n    prompt=\"This is a test.\",\n)\nprint(completion)"
            javascript: "import OpenAI from \"openai\";\n\nconst openai = new OpenAI();\n\
              \nasync function main() {\n  const completion = await openai.completions.create({\n\
              \    model: \"VAR_completion_model_id\",\n    prompt: \"Say this is\
              \ a test.\",\n    max_tokens: 7,\n    temperature: 0,\n  });\n\n  console.log(completion);\n\
              }\nmain();"
            node.js: "import OpenAI from 'openai';\n\nconst client = new OpenAI({\n\
              \  apiKey: process.env['OPENAI_API_KEY'], // This is the default and\
              \ can be omitted\n});\n\nconst completion = await client.completions.create({\
              \ model: 'string', prompt: 'This is a test.' });\n\nconsole.log(completion);"
            go: "package main\n\nimport (\n\t\"context\"\n\t\"fmt\"\n\n\t\"github.com/openai/openai-go\"\
              \n\t\"github.com/openai/openai-go/option\"\n)\n\nfunc main() {\n\tclient\
              \ := openai.NewClient(\n\t\toption.WithAPIKey(\"My API Key\"),\n\t)\n\
              \tcompletion, err := client.Completions.New(context.TODO(), openai.CompletionNewParams{\n\
              \t\tModel: openai.CompletionNewParamsModelGPT3_5TurboInstruct,\n\t\t\
              Prompt: openai.CompletionNewParamsPromptUnion{\n\t\t\tOfString: openai.String(\"\
              This is a test.\"),\n\t\t},\n\t})\n\tif err != nil {\n\t\tpanic(err.Error())\n\
              \t}\n\tfmt.Printf(\"%+v\\n\", completion)\n}\n"
            java: "package com.openai.example;\n\nimport com.openai.client.OpenAIClient;\n\
              import com.openai.client.okhttp.OpenAIOkHttpClient;\nimport com.openai.models.completions.Completion;\n\
              import com.openai.models.completions.CompletionCreateParams;\n\npublic\
              \ final class Main {\n    private Main() {}\n\n    public static void\
              \ main(String[] args) {\n        OpenAIClient client = OpenAIOkHttpClient.fromEnv();\n\
              \n        CompletionCreateParams params = CompletionCreateParams.builder()\n\
              \            .model(CompletionCreateParams.Model.GPT_3_5_TURBO_INSTRUCT)\n\
              \            .prompt(\"This is a test.\")\n            .build();\n \
              \       Completion completion = client.completions().create(params);\n\
              \    }\n}"
            ruby: 'require "openai"


              openai = OpenAI::Client.new(api_key: "My API Key")


              completion = openai.completions.create(model: :"gpt-3.5-turbo-instruct",
              prompt: "This is a test.")


              puts(completion)'
          response: "{\n  \"id\": \"cmpl-uqkvlQyYK7bGYrRHQ0eXlWi7\",\n  \"object\"\
            : \"text_completion\",\n  \"created\": 1589478378,\n  \"model\": \"VAR_completion_model_id\"\
            ,\n  \"system_fingerprint\": \"fp_44709d6fcb\",\n  \"choices\": [\n  \
            \  {\n      \"text\": \"\\n\\nThis is indeed a test\",\n      \"index\"\
            : 0,\n      \"logprobs\": null,\n      \"finish_reason\": \"length\"\n\
            \    }\n  ],\n  \"usage\": {\n    \"prompt_tokens\": 5,\n    \"completion_tokens\"\
            : 7,\n    \"total_tokens\": 12\n  }\n}\n"
        - title: Streaming
          request:
            curl: "curl https://api.openai.com/v1/completions \\\n  -H \"Content-Type:\
              \ application/json\" \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\"\
              \ \\\n  -d '{\n    \"model\": \"VAR_completion_model_id\",\n    \"prompt\"\
              : \"Say this is a test\",\n    \"max_tokens\": 7,\n    \"temperature\"\
              : 0,\n    \"stream\": true\n  }'\n"
            python: "import os\nfrom openai import OpenAI\n\nclient = OpenAI(\n  \
              \  api_key=os.environ.get(\"OPENAI_API_KEY\"),  # This is the default\
              \ and can be omitted\n)\ncompletion = client.completions.create(\n \
              \   model=\"string\",\n    prompt=\"This is a test.\",\n)\nprint(completion)"
            javascript: "import OpenAI from \"openai\";\n\nconst openai = new OpenAI();\n\
              \nasync function main() {\n  const stream = await openai.completions.create({\n\
              \    model: \"VAR_completion_model_id\",\n    prompt: \"Say this is\
              \ a test.\",\n    stream: true,\n  });\n\n  for await (const chunk of\
              \ stream) {\n    console.log(chunk.choices[0].text)\n  }\n}\nmain();"
            node.js: "import OpenAI from 'openai';\n\nconst client = new OpenAI({\n\
              \  apiKey: process.env['OPENAI_API_KEY'], // This is the default and\
              \ can be omitted\n});\n\nconst completion = await client.completions.create({\
              \ model: 'string', prompt: 'This is a test.' });\n\nconsole.log(completion);"
            go: "package main\n\nimport (\n\t\"context\"\n\t\"fmt\"\n\n\t\"github.com/openai/openai-go\"\
              \n\t\"github.com/openai/openai-go/option\"\n)\n\nfunc main() {\n\tclient\
              \ := openai.NewClient(\n\t\toption.WithAPIKey(\"My API Key\"),\n\t)\n\
              \tcompletion, err := client.Completions.New(context.TODO(), openai.CompletionNewParams{\n\
              \t\tModel: openai.CompletionNewParamsModelGPT3_5TurboInstruct,\n\t\t\
              Prompt: openai.CompletionNewParamsPromptUnion{\n\t\t\tOfString: openai.String(\"\
              This is a test.\"),\n\t\t},\n\t})\n\tif err != nil {\n\t\tpanic(err.Error())\n\
              \t}\n\tfmt.Printf(\"%+v\\n\", completion)\n}\n"
            java: "package com.openai.example;\n\nimport com.openai.client.OpenAIClient;\n\
              import com.openai.client.okhttp.OpenAIOkHttpClient;\nimport com.openai.models.completions.Completion;\n\
              import com.openai.models.completions.CompletionCreateParams;\n\npublic\
              \ final class Main {\n    private Main() {}\n\n    public static void\
              \ main(String[] args) {\n        OpenAIClient client = OpenAIOkHttpClient.fromEnv();\n\
              \n        CompletionCreateParams params = CompletionCreateParams.builder()\n\
              \            .model(CompletionCreateParams.Model.GPT_3_5_TURBO_INSTRUCT)\n\
              \            .prompt(\"This is a test.\")\n            .build();\n \
              \       Completion completion = client.completions().create(params);\n\
              \    }\n}"
            ruby: 'require "openai"


              openai = OpenAI::Client.new(api_key: "My API Key")


              completion = openai.completions.create(model: :"gpt-3.5-turbo-instruct",
              prompt: "This is a test.")


              puts(completion)'
          response: "{\n  \"id\": \"cmpl-7iA7iJjj8V2zOkCGvWF2hAkDWBQZe\",\n  \"object\"\
            : \"text_completion\",\n  \"created\": 1690759702,\n  \"choices\": [\n\
            \    {\n      \"text\": \"This\",\n      \"index\": 0,\n      \"logprobs\"\
            : null,\n      \"finish_reason\": null\n    }\n  ],\n  \"model\": \"gpt-3.5-turbo-instruct\"\
            \n  \"system_fingerprint\": \"fp_44709d6fcb\",\n}\n"
  /embeddings:
    post:
      operationId: createEmbedding
      tags:
      - Embeddings
      summary: Creates an embedding vector representing the input text.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEmbeddingRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateEmbeddingResponse'
      x-oaiMeta:
        name: Create embeddings
        group: embeddings
        examples:
          request:
            curl: "curl https://api.openai.com/v1/embeddings \\\n  -H \"Authorization:\
              \ Bearer $OPENAI_API_KEY\" \\\n  -H \"Content-Type: application/json\"\
              \ \\\n  -d '{\n    \"input\": \"The food was delicious and the waiter...\"\
              ,\n    \"model\": \"text-embedding-ada-002\",\n    \"encoding_format\"\
              : \"float\"\n  }'\n"
            python: "import os\nfrom openai import OpenAI\n\nclient = OpenAI(\n  \
              \  api_key=os.environ.get(\"OPENAI_API_KEY\"),  # This is the default\
              \ and can be omitted\n)\ncreate_embedding_response = client.embeddings.create(\n\
              \    input=\"The quick brown fox jumped over the lazy dog\",\n    model=\"\
              text-embedding-3-small\",\n)\nprint(create_embedding_response.data)"
            javascript: "import OpenAI from \"openai\";\n\nconst openai = new OpenAI();\n\
              \nasync function main() {\n  const embedding = await openai.embeddings.create({\n\
              \    model: \"text-embedding-ada-002\",\n    input: \"The quick brown\
              \ fox jumped over the lazy dog\",\n    encoding_format: \"float\",\n\
              \  });\n\n  console.log(embedding);\n}\n\nmain();\n"
            csharp: "using System;\n\nusing OpenAI.Embeddings;\n\nEmbeddingClient\
              \ client = new(\n    model: \"text-embedding-3-small\",\n    apiKey:\
              \ Environment.GetEnvironmentVariable(\"OPENAI_API_KEY\")\n);\n\nOpenAIEmbedding\
              \ embedding = client.GenerateEmbedding(input: \"The quick brown fox\
              \ jumped over the lazy dog\");\nReadOnlyMemory<float> vector = embedding.ToFloats();\n\
              \nfor (int i = 0; i < vector.Length; i++)\n{\n    Console.WriteLine($\"\
              \  [{i,4}] = {vector.Span[i]}\");\n}\n"
            node.js: "import OpenAI from 'openai';\n\nconst client = new OpenAI({\n\
              \  apiKey: process.env['OPENAI_API_KEY'], // This is the default and\
              \ can be omitted\n});\n\nconst createEmbeddingResponse = await client.embeddings.create({\n\
              \  input: 'The quick brown fox jumped over the lazy dog',\n  model:\
              \ 'text-embedding-3-small',\n});\n\nconsole.log(createEmbeddingResponse.data);"
            go: "package main\n\nimport (\n\t\"context\"\n\t\"fmt\"\n\n\t\"github.com/openai/openai-go\"\
              \n\t\"github.com/openai/openai-go/option\"\n)\n\nfunc main() {\n\tclient\
              \ := openai.NewClient(\n\t\toption.WithAPIKey(\"My API Key\"),\n\t)\n\
              \tcreateEmbeddingResponse, err := client.Embeddings.New(context.TODO(),\
              \ openai.EmbeddingNewParams{\n\t\tInput: openai.EmbeddingNewParamsInputUnion{\n\
              \t\t\tOfString: openai.String(\"The quick brown fox jumped over the\
              \ lazy dog\"),\n\t\t},\n\t\tModel: openai.EmbeddingModelTextEmbedding3Small,\n\
              \t})\n\tif err != nil {\n\t\tpanic(err.Error())\n\t}\n\tfmt.Printf(\"\
              %+v\\n\", createEmbeddingResponse.Data)\n}\n"
            java: "package com.openai.example;\n\nimport com.openai.client.OpenAIClient;\n\
              import com.openai.client.okhttp.OpenAIOkHttpClient;\nimport com.openai.models.embeddings.CreateEmbeddingResponse;\n\
              import com.openai.models.embeddings.EmbeddingCreateParams;\nimport com.openai.models.embeddings.EmbeddingModel;\n\
              \npublic final class Main {\n    private Main() {}\n\n    public static\
              \ void main(String[] args) {\n        OpenAIClient client = OpenAIOkHttpClient.fromEnv();\n\
              \n        EmbeddingCreateParams params = EmbeddingCreateParams.builder()\n\
              \            .input(\"The quick brown fox jumped over the lazy dog\"\
              )\n            .model(EmbeddingModel.TEXT_EMBEDDING_3_SMALL)\n     \
              \       .build();\n        CreateEmbeddingResponse createEmbeddingResponse\
              \ = client.embeddings().create(params);\n    }\n}"
            ruby: "require \"openai\"\n\nopenai = OpenAI::Client.new(api_key: \"My\
              \ API Key\")\n\ncreate_embedding_response = openai.embeddings.create(\n\
              \  input: \"The quick brown fox jumped over the lazy dog\",\n  model:\
              \ :\"text-embedding-3-small\"\n)\n\nputs(create_embedding_response)"
          response: "{\n  \"object\": \"list\",\n  \"data\": [\n    {\n      \"object\"\
            : \"embedding\",\n      \"embedding\": [\n        0.0023064255,\n    \
            \    -0.009327292,\n        .... (1536 floats total for ada-002)\n   \
            \     -0.0028842222,\n      ],\n      \"index\": 0\n    }\n  ],\n  \"\
            model\": \"text-embedding-ada-002\",\n  \"usage\": {\n    \"prompt_tokens\"\
            : 8,\n    \"total_tokens\": 8\n  }\n}\n"
  /moderations:
    post:
      operationId: createModeration
      tags:
      - Moderations
      summary: 'Classifies if text and/or image inputs are potentially harmful. Learn

        more in the [moderation guide](/docs/guides/moderation).

        '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateModerationRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateModerationResponse'
      x-oaiMeta:
        name: Create moderation
        group: moderations
        examples:
        - title: Single string
          request:
            curl: "curl https://api.openai.com/v1/moderations \\\n  -H \"Content-Type:\
              \ application/json\" \\\n  -H \"Authorization: Bearer $OPENAI_API_KEY\"\
              \ \\\n  -d '{\n    \"input\": \"I want to kill them.\"\n  }'\n"
            python: "import os\nfrom openai import OpenAI\n\nclient = OpenAI(\n  \
              \  api_key=os.environ.get(\"OPENAI_API_KEY\"),  # This is the default\
              \ and can be omitted\n)\nmoderation = client.moderations.create(\n \
              \   input=\"I want to kill them.\",\n)\nprint(moderation.id)"
            javascript: "import OpenAI from \"openai\";\n\nconst openai = new OpenAI();\n\
              \nasync function main() {\n  const moderation = await openai.moderations.create({\
              \ input: \"I want to kill them.\" });\n\n  console.log(moderation);\n\
              }\nmain();\n"
            csharp: "using System;\nusing System.ClientModel;\n\nusing OpenAI.Moderations;\n\
              \nModerationClient client = new(\n    model: \"omni-moderation-latest\"\
              ,\n    apiKey: Environment.GetEnvironmentVariable(\"OPENAI_API_KEY\"\
              )\n);\n\nClientResult<ModerationResult> moderation = client.ClassifyText(\"\
              I want to kill them.\");\n"
            node.js: "import OpenAI from 'openai';\n\nconst client = new OpenAI({\n\
              \  apiKey: process.env['OPENAI_API_KEY'], // This is the default and\
              \ can be omitted\n});\n\nconst moderation = await client.moderations.create({\
              \ input: 'I want to kill them.' });\n\nconsole.log(moderation.id);"
            go: "package main\n\nimport (\n\t\"context\"\n\t\"fmt\"\n\n\t\"github.com/openai/openai-go\"\
              \n\t\"github.com/openai/openai-go/option\"\n)\n\nfunc main() {\n\tclient\
              \ := openai.NewClient(\n\t\toption.WithAPIKey(\"My API Key\"),\n\t)\n\
              \tmoderation, err := client.Moderations.New(context.TODO(), openai.ModerationNewParams{\n\
              \t\tInput: openai.ModerationNewParamsInputUnion{\n\t\t\tOfString: openai.String(\"\
              I want to kill them.\"),\n\t\t},\n\t})\n\tif err != nil {\n\t\tpanic(err.Error())\n\
              \t}\n\tfmt.Printf(\"%+v\\n\", moderation.ID)\n}\n"
            java: "package com.openai.example;\n\nimport com.openai.client.OpenAIClient;\n\
              import com.openai.client.okhttp.OpenAIOkHttpClient;\nimport com.openai.models.moderations.ModerationCreateParams;\n\
              import com.openai.models.moderations.ModerationCreateResponse;\n\npublic\
              \ final class Main {\n    private Main() {}\n\n    public static void\
              \ main(String[] args) {\n        OpenAIClient client = OpenAIOkHttpClient.fromEnv();\n\
              \n        ModerationCreateParams params = ModerationCreateParams.builder()\n\
              \            .input(\"I want to kill them.\")\n            .build();\n\
              \        ModerationCreateResponse moderation = client.moderations().create(params);\n\
              \    }\n}"
            ruby: 'require "openai"


              openai = OpenAI::Client.new(api_key: "My API Key")


              moderation = openai.moderations.create(input: "I want to kill them.")


              puts(moderation)'
          response: "{\n  \"id\": \"modr-AB8CjOTu2jiq12hp1AQPfeqFWaORR\",\n  \"model\"\
            : \"text-moderation-007\",\n  \"results\": [\n    {\n      \"flagged\"\
            : true,\n      \"categories\": {\n        \"sexual\": false,\n       \
            \ \"hate\": false,\n        \"harassment\": true,\n        \"self-harm\"\
            : false,\n        \"sexual/minors\": false,\n        \"hate/threatening\"\
            : false,\n        \"violence/graphic\": false,\n        \"self-harm/intent\"\
            : false,\n        \"self-harm/instructions\": false,\n        \"harassment/threatening\"\
            : true,\n        \"violence\": true\n      },\n      \"category_scores\"\
            : {\n        \"sexual\": 0.000011726012417057063,\n        \"hate\": 0.22706663608551025,\n\
            \        \"harassment\": 0.5215635299682617,\n        \"self-harm\": 2.227119921371923e-6,\n\
            \        \"sexual/minors\": 7.107352217872176e-8,\n        \"hate/threatening\"\
            : 0.023547329008579254,\n        \"violence/graphic\": 0.00003391829886822961,\n\
            \        \"self-harm/intent\": 1.646940972932498e-6,\n        \"self-harm/instructions\"\
            : 1.1198755256458526e-9,\n        \"harassment/threatening\": 0.5694745779037476,\n\
            \        \"violence\": 0.9971134662628174\n      }\n    }\n  ]\n}\n"
        - title: Image and text
          request:
            curl: "curl https://api.openai.com/v1/moderations \\\n  -X POST \\\n \
              \ -H \"Content-Type: application/json\" \\\n  -H \"Authorization: Bearer\
              \ $OPENAI_API_KEY\" \\\n  -d '{\n    \"model\": \"omni-moderation-latest\"\
              ,\n    \"input\": [\n      { \"type\": \"text\", \"text\": \"...text\
              \ to classify goes here...\" },\n      {\n        \"type\": \"image_url\"\
              ,\n        \"image_url\": {\n          \"url\": \"https://example.com/image.png\"\
              \n        }\n      }\n    ]\n  }'\n"
            python: "import os\nfrom openai import OpenAI\n\nclient = OpenAI(\n  \
              \  api_key=os.environ.get(\"OPENAI_API_KEY\"),  # This is the default\
              \ and can be omitted\n)\nmoderation = client.moderations.create(\n \
              \   input=\"I want to kill them.\",\n)\nprint(moderation.id)"
            javascript: "import OpenAI from \"openai\";\nconst openai = new OpenAI();\n\
              \nconst moderation = await openai.moderations.create({\n    model: \"\
              omni-moderation-latest\",\n    input: [\n        { type: \"text\", text:\
              \ \"...text to classify goes here...\" },\n        {\n            type:\
              \ \"image_url\",\n            image_url: {\n                url: \"\
              https://example.com/image.png\"\n                // can also use base64\
              \ encoded image URLs\n                // url: \"data:image/jpeg;base64,abcdefg...\"\
              \n            }\n        }\n    ],\n});\n\nconsole.log(moderation);\n"
            node.js: "import OpenAI from 'openai';\n\nconst client = new OpenAI({\n\
              \  apiKey: process.env['OPENAI_API_KEY'], // This is the default and\
              \ can be omitted\n});\n\nconst moderation = await client.moderations.create({\
              \ input: 'I want to kill them.' });\n\nconsole.log(moderation.id);"
            go: "package main\n\nimport (\n\t\"context\"\n\t\"fmt\"\n\n\t\"github.com/openai/openai-go\"\
              \n\t\"github.com/openai/openai-go/option\"\n)\n\nfunc main() {\n\tclient\
              \ := openai.NewClient(\n\t\toption.WithAPIKey(\"My API Key\"),\n\t)\n\
              \tmoderation, err := client.Moderations.New(context.TODO(), openai.ModerationNewParams{\n\
              \t\tInput: openai.ModerationNewParamsInputUnion{\n\t\t\tOfString: openai.String(\"\
              I want to kill them.\"),\n\t\t},\n\t})\n\tif err != nil {\n\t\tpanic(err.Error())\n\
              \t}\n\tfmt.Printf(\"%+v\\n\", moderation.ID)\n}\n"
            java: "package com.openai.example;\n\nimport com.openai.client.OpenAIClient;\n\
              import com.openai.client.okhttp.OpenAIOkHttpClient;\nimport com.openai.models.moderations.ModerationCreateParams;\n\
              import com.openai.models.moderations.ModerationCreateResponse;\n\npublic\
              \ final class Main {\n    private Main() {}\n\n    public static void\
              \ main(String[] args) {\n        OpenAIClient client = OpenAIOkHttpClient.fromEnv();\n\
              \n        ModerationCreateParams params = ModerationCreateParams.builder()\n\
              \            .input(\"I want to kill them.\")\n            .build();\n\
              \        ModerationCreateResponse moderation = client.moderations().create(params);\n\
              \    }\n}"
            ruby: 'require "openai"


              openai = OpenAI::Client.new(api_key: "My API Key")


              moderation = openai.moderations.create(input: "I want to kill them.")


              puts(moderation)'
          response: "{\n  \"id\": \"modr-0d9740456c391e43c445bf0f010940c7\",\n  \"\
            model\": \"omni-moderation-latest\",\n  \"results\": [\n    {\n      \"\
            flagged\": true,\n      \"categories\": {\n        \"harassment\": true,\n\
            \        \"harassment/threatening\": true,\n        \"sexual\": false,\n\
            \        \"hate\": false,\n        \"hate/threatening\": false,\n    \
            \    \"illicit\": false,\n        \"illicit/violent\": false,\n      \
            \  \"self-harm/intent\": false,\n        \"self-harm/instructions\": false,\n\
            \        \"self-harm\": false,\n        \"sexual/minors\": false,\n  \
            \      \"violence\": true,\n        \"violence/graphic\": true\n     \
            \ },\n      \"category_scores\": {\n        \"harassment\": 0.8189693396524255,\n\
            \        \"harassment/threatening\": 0.804985420696006,\n        \"sexual\"\
            : 1.573112165348997e-6,\n        \"hate\": 0.007562942636942845,\n   \
            \     \"hate/threatening\": 0.004208854591835476,\n        \"illicit\"\
            : 0.030535955153511665,\n        \"illicit/violent\": 0.008925306722380033,\n\
            \        \"self-harm/intent\": 0.00023023930975076432,\n        \"self-harm/instructions\"\
            : 0.0002293869201073356,\n        \"self-harm\": 0.012598046106750154,\n\
            \        \"sexual/minors\": 2.212566909570261e-8,\n        \"violence\"\
            : 0.9999992735124786,\n        \"violence/graphic\": 0.843064871157054\n\
            \      },\n      \"category_applied_input_types\": {\n        \"harassment\"\
            : [\n          \"text\"\n        ],\n        \"harassment/threatening\"\
            : [\n          \"text\"\n        ],\n        \"sexual\": [\n         \
            \ \"text\",\n          \"image\"\n        ],\n        \"hate\": [\n  \
            \        \"text\"\n        ],\n        \"hate/threatening\": [\n     \
            \     \"text\"\n        ],\n        \"illicit\": [\n          \"text\"\
            \n        ],\n        \"illicit/violent\": [\n          \"text\"\n   \
            \     ],\n        \"self-harm/intent\": [\n          \"text\",\n     \
            \     \"image\"\n        ],\n        \"self-harm/instructions\": [\n \
            \         \"text\",\n          \"image\"\n        ],\n        \"self-harm\"\
            : [\n          \"text\",\n          \"image\"\n        ],\n        \"\
            sexual/minors\": [\n          \"text\"\n        ],\n        \"violence\"\
            : [\n          \"text\",\n          \"image\"\n        ],\n        \"\
            violence/graphic\": [\n          \"text\",\n          \"image\"\n    \
            \    ]\n      }\n    }\n  ]\n}\n"
components:
  schemas:
    ApplyPatchToolParam:
      properties:
        type:
          type: string
          enum:
          - apply_patch
          description: The type of the tool. Always `apply_patch`.
          default: apply_patch
          x-stainless-const: true
      type: object
      required:
      - type
      title: Apply patch tool
      description: Allows the assistant to create, delete, or update files using unified
        diffs.
    ApproximateLocation:
      properties:
        type:
          type: string
          enum:
          - approximate
          description: The type of location approximation. Always `approximate`.
          default: approximate
          x-stainless-const: true
        country:
          anyOf:
          - type: string
            description: The two-letter [ISO country code](https://en.wikipedia.org/wiki/ISO_3166-1)
              of the user, e.g. `US`.
          - type: 'null'
        region:
          anyOf:
          - type: string
            description: Free text input for the region of the user, e.g. `California`.
          - type: 'null'
        city:
          anyOf:
          - type: string
            description: Free text input for the city of the user, e.g. `San Francisco`.
          - type: 'null'
        timezone:
          anyOf:
          - type: string
            description: The [IANA timezone](https://timeapi.io/documentation/iana-timezones)
              of the user, e.g. `America/Los_Angeles`.
          - type: 'null'
      type: object
      required:
      - type
    AutoCodeInterpreterToolParam:
      properties:
        type:
          type: string
          enum:
          - auto
          description: Always `auto`.
          default: auto
          x-stainless-const: true
        file_ids:
          items:
            type: string
          type: array
          maxItems: 50
          description: An optional list of uploaded files to make available to your
            code.
        memory_limit:
          anyOf:
          - $ref: '#/components/schemas/ContainerMemoryLimit'
            description: The memory limit for the code interpreter container.
          - type: 'null'
        network_policy:
          oneOf:
          - $ref: '#/components/schemas/ContainerNetworkPolicyDisabledParam'
          - $ref: '#/components/schemas/ContainerNetworkPolicyAllowlistParam'
          description: Network access policy for the container.
      type: object
      required:
      - type
      title: CodeInterpreterToolAuto
      description: Configuration for a code interpreter container. Optionally specify
        the IDs of the files to run the code on.
    ChatCompletionAllowedTools:
      type: object
      title: Allowed tools
      description: 'Constrains the tools available to the model to a pre-defined set.

        '
      properties:
        mode:
          type: string
          enum:
          - auto
          - required
          description: 'Constrains the tools available to the model to a pre-defined
            set.


            `auto` allows the model to pick from among the allowed tools and generate
            a

            message.


            `required` requires the model to call one or more of the allowed tools.

            '
        tools:
          type: array
          description: "A list of tool definitions that the model should be allowed\
            \ to call.\n\nFor the Chat Completions API, the list of tool definitions\
            \ might look like:\n```json\n[\n  { \"type\": \"function\", \"function\"\
            : { \"name\": \"get_weather\" } },\n  { \"type\": \"function\", \"function\"\
            : { \"name\": \"get_time\" } }\n]\n```\n"
          items:
            type: object
            x-oaiExpandable: false
            description: 'A tool definition that the model should be allowed to call.

              '
            additionalProperties: true
      required:
      - mode
      - tools
    ChatCompletionAllowedToolsChoice:
      type: object
      title: Allowed tools
      description: 'Constrains the tools available to the model to a pre-defined set.

        '
      properties:
        type:
          type: string
          enum:
          - allowed_tools
          description: Allowed tool configuration type. Always `allowed_tools`.
          x-stainless-const: true
        allowed_tools:
          $ref: '#/components/schemas/ChatCompletionAllowedTools'
      required:
      - type
      - allowed_tools
    ChatCompletionFunctionCallOption:
      type: object
      description: 'Specifying a particular function via `{"name": "my_function"}`
        forces the model to call that function.

        '
      properties:
        name:
          type: string
          description: The name of the function to call.
      required:
      - name
    ChatCompletionFunctions:
      type: object
      properties:
        description:
          type: string
          description: A description of what the function does, used by the model
            to choose when and how to call the function.
        name:
          type: string
          description: The name of the function to be called. Must be a-z, A-Z, 0-9,
            or contain underscores and dashes, with a maximum length of 64.
        parameters:
          $ref: '#/components/schemas/FunctionParameters'
      required:
      - name
    ChatCompletionMessageCustomToolCall:
      type: object
      title: Custom tool call
      description: 'A call to a custom tool created by the model.

        '
      properties:
        id:
          type: string
          description: The ID of the tool call.
        type:
          type: string
          enum:
          - custom
          description: The type of the tool. Always `custom`.
          x-stainless-const: true
        custom:
          type: object
          description: The custom tool that the model called.
          properties:
            name:
              type: string
              description: The name of the custom tool to call.
            input:
              type: string
              description: The input for the custom tool call generated by the model.
          required:
          - name
          - input
      required:
      - id
      - type
      - custom
    ChatCompletionMessageToolCall:
      type: object
      title: Function tool call
      description: 'A call to a function tool created by the model.

        '
      properties:
        id:
          type: string
          description: The ID of the tool call.
        type:
          type: string
          enum:
          - function
          description: The type of the tool. Currently, only `function` is supported.
          x-stainless-const: true
        function:
          type: object
          description: The function that the model called.
          properties:
            name:
              type: string
              description: The name of the function to call.
            arguments:
              type: string
              description: The arguments to call the function with, as generated by
                the model in JSON format. Note that the model does not always generate
                valid JSON, and may hallucinate parameters not defined by your function
                schema. Validate the arguments in your code before calling your function.
          required:
          - name
          - arguments
      required:
      - id
      - type
      - function
    ChatCompletionMessageToolCalls:
      type: array
      description: The tool calls generated by the model, such as function calls.
      items:
        oneOf:
        - $ref: '#/components/schemas/ChatCompletionMessageToolCall'
        - $ref: '#/components/schemas/ChatCompletionMessageCustomToolCall'
    ChatCompletionNamedToolChoice:
      type: object
      title: Function tool choice
      description: Specifies a tool the model should use. Use to force the model to
        call a specific function.
      properties:
        type:
          type: string
          enum:
          - function
          description: For function calling, the type is always `function`.
          x-stainless-const: true
        function:
          type: object
          properties:
            name:
              type: string
              description: The name of the function to call.
          required:
          - name
      required:
      - type
      - function
    ChatCompletionNamedToolChoiceCustom:
      type: object
      title: Custom tool choice
      description: Specifies a tool the model should use. Use to force the model to
        call a specific custom tool.
      properties:
        type:
          type: string
          enum:
          - custom
          description: For custom tool calling, the type is always `custom`.
          x-stainless-const: true
        custom:
          type: object
          properties:
            name:
              type: string
              description: The name of the custom tool to call.
          required:
          - name
      required:
      - type
      - custom
    ChatCompletionRequestAssistantMessage:
      type: object
      title: Assistant message
      description: 'Messages sent by the model in response to user messages.

        '
      properties:
        content:
          anyOf:
          - oneOf:
            - type: string
              description: The contents of the assistant message.
              title: Text content
            - type: array
              description: An array of content parts with a defined type. Can be one
                or more of type `text`, or exactly one of type `refusal`.
              title: Array of content parts
              items:
                $ref: '#/components/schemas/ChatCompletionRequestAssistantMessageContentPart'
              minItems: 1
            description: 'The contents of the assistant message. Required unless `tool_calls`
              or `function_call` is specified.

              '
          - type: 'null'
        refusal:
          anyOf:
          - type: string
            description: The refusal message by the assistant.
          - type: 'null'
        role:
          type: string
          enum:
          - assistant
          description: The role of the messages author, in this case `assistant`.
          x-stainless-const: true
        name:
          type: string
          description: An optional name for the participant. Provides the model information
            to differentiate between participants of the same role.
        audio:
          anyOf:
          - type: object
            description: 'Data about a previous audio response from the model.

              [Learn more](/docs/guides/audio).

              '
            required:
            - id
            properties:
              id:
                type: string
                description: 'Unique identifier for a previous audio response from
                  the model.

                  '
          - type: 'null'
        tool_calls:
          $ref: '#/components/schemas/ChatCompletionMessageToolCalls'
        function_call:
          anyOf:
          - type: object
            description: Deprecated and replaced by `tool_calls`. The name and arguments
              of a function that should be called, as generated by the model.
            properties:
              arguments:
                type: string
                description: The arguments to call the function with, as generated
                  by the model in JSON format. Note that the model does not always
                  generate valid JSON, and may hallucinate parameters not defined
                  by your function schema. Validate the arguments in your code before
                  calling your function.
              name:
                type: string
                description: The name of the function to call.
            required:
            - arguments
            - name
          - type: 'null'
      required:
      - role
    ChatCompletionRequestAssistantMessageContentPart:
      oneOf:
      - $ref: '#/components/schemas/ChatCompletionRequestMessageContentPartText'
      - $ref: '#/components/schemas/ChatCompletionRequestMessageContentPartRefusal'
    ChatCompletionRequestDeveloperMessage:
      type: object
      title: Developer message
      description: 'Developer-provided instructions that the model should follow,
        regardless of

        messages sent by the user. With o1 models and newer, `developer` messages

        replace the previous `system` messages.

        '
      properties:
        content:
          description: The contents of the developer message.
          oneOf:
          - type: string
            description: The contents of the developer message.
            title: Text content
          - type: array
            description: An array of content parts with a defined type. For developer
              messages, only type `text` is supported.
            title: Array of content parts
            items:
              $ref: '#/components/schemas/ChatCompletionRequestMessageContentPartText'
            minItems: 1
        role:
          type: string
          enum:
          - developer
          description: The role of the messages author, in this case `developer`.
          x-stainless-const: true
        name:
          type: string
          description: An optional name for the participant. Provides the model information
            to differentiate between participants of the same role.
      required:
      - content
      - role
    ChatCompletionRequestFunctionMessage:
      type: object
      title: Function message
      properties:
        role:
          type: string
          enum:
          - function
          description: The role of the messages author, in this case `function`.
          x-stainless-const: true
        content:
          anyOf:
          - type: string
            description: The contents of the function message.
          - type: 'null'
        name:
          type: string
          description: The name of the function to call.
      required:
      - role
      - content
      - name
    ChatCompletionRequestMessage:
      oneOf:
      - $ref: '#/components/schemas/ChatCompletionRequestDeveloperMessage'
      - $ref: '#/components/schemas/ChatCompletionRequestSystemMessage'
      - $ref: '#/components/schemas/ChatCompletionRequestUserMessage'
      - $ref: '#/components/schemas/ChatCompletionRequestAssistantMessage'
      - $ref: '#/components/schemas/ChatCompletionRequestToolMessage'
      - $ref: '#/components/schemas/ChatCompletionRequestFunctionMessage'
    ChatCompletionRequestMessageContentPartAudio:
      type: object
      title: Audio content part
      description: 'Learn about [audio inputs](/docs/guides/audio).

        '
      properties:
        type:
          type: string
          enum:
          - input_audio
          description: The type of the content part. Always `input_audio`.
          x-stainless-const: true
        input_audio:
          type: object
          properties:
            data:
              type: string
              description: Base64 encoded audio data.
            format:
              type: string
              enum:
              - wav
              - mp3
              description: 'The format of the encoded audio data. Currently supports
                "wav" and "mp3".

                '
          required:
          - data
          - format
      required:
      - type
      - input_audio
    ChatCompletionRequestMessageContentPartFile:
      type: object
      title: File content part
      description: 'Learn about [file inputs](/docs/guides/text) for text generation.

        '
      properties:
        type:
          type: string
          enum:
          - file
          description: The type of the content part. Always `file`.
          x-stainless-const: true
        file:
          type: object
          properties:
            filename:
              type: string
              description: "The name of the file, used when passing the file to the\
                \ model as a \nstring.\n"
            file_data:
              type: string
              description: "The base64 encoded file data, used when passing the file\
                \ to the model \nas a string.\n"
            file_id:
              type: string
              description: 'The ID of an uploaded file to use as input.

                '
      required:
      - type
      - file
    ChatCompletionRequestMessageContentPartImage:
      type: object
      title: Image content part
      description: 'Learn about [image inputs](/docs/guides/vision).

        '
      properties:
        type:
          type: string
          enum:
          - image_url
          description: The type of the content part.
          x-stainless-const: true
        image_url:
          type: object
          properties:
            url:
              type: string
              description: Either a URL of the image or the base64 encoded image data.
              format: uri
            detail:
              type: string
              description: Specifies the detail level of the image. Learn more in
[...]
